.white {
  height: 300px;
}

.scroll-1 {
  opacity: 0;
}

.scroll-2 {
  opacity: 0;
  margin-top: 40px;
}

.scroll-3 {
  opacity: 0;
  margin-top: 40px;
}

.scroll-4 {
  opacity: 0;
  margin-top: 40px;
}

.scroll-5 {
  opacity: 0;
  margin-top: 40px;
}

.scroll-6 {
  opacity: 0;
  margin-top: 40px;
}

.scroll-7 {
  opacity: 0;
  margin-top: 40px;
}
